.page-block__timeline,
.doc-block__timeline {
	margin-bottom: 5rem;
	margin-left: 4.25rem;
	position: relative;
	padding: 1.5rem 2rem 1.5rem 2.5rem;


	@include media-breakpoint-up(lg) {
		padding-right: 0;
		padding-top: 2.5rem;
	}

	&::before {
		background: #e0e0e0; //linear-gradient(180deg, rgba(224,224,224,0) 0%, rgba(224,224,224,1) 5%);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		width: 1px;
	}	

	h2 {
		position: relative;

		&::before {
			background: #e0e0e0;
			content: '';
			display: block;
			height: 1px;
			left: -2.5rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 2.5rem;
		}
	}

	img {
		border-radius: 0.75rem;
	}

	.timeline__end {
    	bottom: -2rem;
		color: theme-color('secondary');
		font-size: 1.5rem;
		left: -0.75rem;
		position: absolute;
	}
}

.doc-block__timeline {
	margin-left: 0;
}
