.docs-content {
	position: relative;
	margin-top: 72px;
	padding: 1.5rem 2rem 1.5rem 4.25rem;

	@include media-breakpoint-up(lg) {
		margin-left: 290px;
		padding: 2.5rem 3.75rem;
	}
}

.doc__background-image,
.page__background-image {
    background-position: right top;
    background-repeat: no-repeat;
    height: 0;
    position: absolute;
    right: 3.75rem;
    top: 0;
	width: 100%;
	max-width: 30vw;

	@include media-breakpoint-up(lg) {
		height: 300px;
	}
}
