.main-sidebar {
	background: rgba($white, 0.96);
	border-right: 1px solid #efeff1;
	height: calc(100% - 72px);
	left: -255px;
	overflow: auto;
	padding: 2.5rem 1.5rem;
	position: fixed;
	top: 72px;
	transition: 0.4s;
	width: 290px;
	z-index: 2;

	@include media-breakpoint-up(lg) {
		left: 0;
	}

	&.active {
		left: 0;
	}

	.mobile-trigger--main-sidebar {
		right: 5px;
	    position: absolute;
	    top: 2rem;

	    @include media-breakpoint-up(lg) {
	    	display: none;
	    }

	    &.open {
	    	a {
	    		transform: scaleX(-1);
	    	}
	    }

	    a {
	    	color: $green;
	    	display: inline-block;
	    	padding: 0 8px;
	    	transition: 0.1s;
	    }
	}

	a {
		text-decoration: none;
	}

	&__section-title {
		font-size: 1.0625rem;
		margin-top: 1.5rem;
	}

	&__child-pages {
		margin-top: 1rem;
		margin-bottom: 1rem;

		a {
			color: darken($pewter, 8);
			display: block;
			font-size: 0.9375rem;
			margin-bottom: 0.75rem;
			text-decoration: none;
			transition: color $transition-speed-fast;

			&:hover {
				color: $green;
			}
		}
	}

	.breadcrumb-link {
		color: $green;
		display: block;
		padding-right: 20px;
		font-weight: $font-weight-medium;

		@include media-breakpoint-up(lg) {
			padding-left: 0;
		}

		&--static {
			color: rgba($pewter, 0.6);
			font-weight: $font-weight-medium;

			i {
				margin-right: 0.25rem;
			}
		}

		i {
			margin-right: 0.25rem;
		}
	}

	.demo-link,
	.api-link {
		border-top: 1px solid theme-color(lightest-gray);
		color: $navy;
		display: block;
		margin-top: 1rem;
		padding-top: 1rem;

		&:hover {
			color: $green;
		}
	}

	.api-link {
		svg {
			margin-right: 4px;
		}
	}

	.nav--sidebar {
		a {
			color: darken($pewter, 8);
			display: block;
			font-size: 0.9375rem;
			margin-bottom: 0.5rem;
			text-decoration: none;
			transition: color $transition-speed-fast;

			&:hover {
				color: $green;
			}
		}

		#menu-main-sidebar-menu {
			display: block;

			> li {
				margin-top: 1.5rem;
			}

			> li.menu-item-has-children {
				> a {
					color: theme-color(primary);
					cursor: initial;
					display: block;
					font-size: 1.0625rem;
					font-weight: $font-weight-semibold;
					margin-top: 1.5rem;

					&:hover {
						color: theme-color(primary);
					}
				}
			}

			li {
				list-style: none;
				padding: 0;
			}

			.sub-menu {
				margin-top: 1rem;
				padding: 0;
			}
		}
	}

	.child-page-link--current {
		color: $green;
	}
}
