parameters:
    level: 8
    phpVersion: 70400
    paths:
        - playground
        - backend
        - includes
        - ../../../wp-includes
        - ../../../wp-admin
    excludePaths:
        analyse:
            - includes/externals
    ignoreErrors:
        - '#Constant ASP\_.+? not#'
        - '#Function wp\_.+? not#'
        - '#Function esc\_.+? not#'
        - '#Function is_wp\_.+? not#'
        - '#Function add_action not#'
        - '#Function remove_all_actions not#'
        - '#Function apply_filters not#'
        - '#Function add_filter not#'
        - '#Function add_action not#'
        - '#Function do_action not#'
        - '#Function get_post_types not#'
        - '#Function get_site_option not#'
        - '#Function get_option not#'
        - '#Function \_\_ not#'