.btn {
	min-width: 130px;
	padding: 0.1875rem 0.75rem;

	&--blue {
		background: $blue;
		color: $white;
		font-weight: $font-weight-medium;
		text-decoration: none;

		&:hover {
			background: #348EBC;
			color: $white;
		}
	}

	&--green {
		background: $green;
		color: $white;
		font-weight: $font-weight-medium;
		text-decoration: none;

		&:hover {
			background: #6BAC3B;
			color: $white;
		}
	}

	&--teal {
		background: $teal;
		color: $white;
		font-weight: $font-weight-medium;
		text-decoration: none;

		&:hover {
			background: #49B2AB;
			color: $white;
		}
	}

	&--violet,
	&--purple {
		background: $purple;
		color: $white;
		font-weight: $font-weight-medium;
		text-decoration: none;

		&:hover {
			background: #6E75B6;
			color: $white;
		}
	}
}