.btn {
	&--blue {
		background: theme-color(primary);
		color: $white;
		font-weight: $font-weight-semibold;
		text-decoration: none;

		&:hover {
			background: lighten($dsm-color-primary-blue, 10);
			color: $white;
		}
	}

	&--green {
		background: theme-color(secondary);
		color: $white;
		font-weight: $font-weight-semibold;
		text-decoration: none;

		&:hover {
			background: lighten($dsm-color-green-50, 10);
			color: $white;
		}
	}

	&--teal {
		background: $dsm-color-teal-60;
		color: $white;
		font-weight: $font-weight-semibold;
		text-decoration: none;

		&:hover {
			background: lighten($dsm-color-teal-60, 10);
			color: $white;
		}
	}

	&--violet {
		background: $dsm-color-violet-60;
		color: $white;
		font-weight: $font-weight-semibold;
		text-decoration: none;

		&:hover {
			background: lighten($dsm-color-violet-60, 10);
			color: $white;
		}
	}
}