.doc-block__code-box {
	position: relative;
	z-index: 1;
	
	.nav-tabs {
		border-bottom: 0;

		.nav-link {
			background-color: rgba($navy, 0.8);
			border: 0;
			color: $white;
			text-decoration: none;

			&.active {
				background-color: $navy;
				border: 0;
			}
		}
	}
}
